<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.zhiyi.mapper.PointsProductMapper">

    <resultMap id="BaseResultMap" type="com.springboot.zhiyi.model.entity.PointsProduct">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="points" column="points" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="INTEGER"/>
            <result property="original_price" column="original_price" jdbcType="INTEGER"/>
            <result property="discount" column="discount" jdbcType="INTEGER"/>
            <result property="tag" column="tag" jdbcType="VARCHAR"/>
            <result property="tag_color" column="tag_color" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="sort_order" column="sort_order" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,points,
        price,original_price,discount,
        tag,tag_color,status,
        sort_order,description,create_time,
        update_time
    </sql>
</mapper>
